@model Audiobooks.Models.GetAllBooksViewModel

@{
    ViewBag.Title = "Поиск по ID автора";
}

<h1>Результаты поиска по ID автора:</h1>
<br />
<ol>
    @foreach (var author in Model.Authors)
    {
        <li>
            Имя автора: @author.Name
            @Html.ActionLink("✎", "Update", "Author", new { id = author.Id })
            @Html.ActionLink("⮾", "Delete", "Author", new { id = author.Id }) <br />
        </li>
    }
</ol>
<br>
<h5>Добавить нового автора: @Html.ActionLink("ⴲ", "Create", "Author")</h5>